<h1>Productos en Tiempo Real</h1>

<div id="productsContainer"></div>

<h2>Agregar producto</h2>
<form>
    <input type="text" id="title" placeholder="Ingrese el nombre del producto">
    <input type="text" id="description" placeholder="Ingrese la descripción del producto">
    <input type="number" id="price" placeholder="Ingrese el precio del producto">
    <input type="text" id="thumbnails" value="Sin imagen">
    <input type="text" id="code" placeholder="Ingrese el código del producto">
    <input type="number" id="stock" placeholder="Ingrese el stock del producto">
    <input type="text" id="category" placeholder="Ingrese la categoría del producto">
    <select id="status"> 
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button type="button" id="btnSend"> Enviar </button>

</form>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="js/main.js"></script>